# User-specific files.
.vscode/
dist/
node_modules/


examples/js/node_modules
examples/js/downloads

examples/docker/data/downloads
examples/docker/node_modules

docker/do/node_modules
docker/f/node_modules
docker/fd/node_modules